{% extends 'menu.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}TicketsApp | Technicians{% endblock %}

{% block body %}
    <h1>Technicians</h1>

    <section class="row technicians">
        {% for technician in technicians %}
        <article class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card card-body">
            <p class="technician-name">{{ technician.name | capitalize }}</p>
            <a href="mailto:{{ technician.email }}"><p>{{ technician.email }}</p></a>

            <h5>Opened tickets</h5>
            <p>{{ technician.openTickets | length }}</p>

            <h5>Completed tickets</h5>
            <p>{{ technician.completedTickets | length }}</p>

            <h5>Average time to complete tickets</h5>
            <p>{{ technician.averageTime }}</p>

            <a href="{{ path('app_user_delete', {'id': technician.id}) }}" class="" title="Delete" onclick="return confirm('Are you sure you want to delete this user?')"><i class="bi bi-trash3"></i></a>
            </div>
        </article>
        {% endfor %}
    </section>



{% endblock %}
