{% extends 'menu.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Technicians{% endblock %}

{% block body %}
    <h1>Technicians</h1>

    <div class="row">
        {% for technician in technicians %}
        <article>
            <p class="technician-name">{{ technician.name | capitalize }}</p>
            <a href="mailto:{{ technician.email }}"><p>{{ technician.email }}</p></a>

            <h5>Opened tickets</h5>
            <p>{{ technician.openTickets | length }}</p>

            <h5>Completed tickets</h5>
            <p>{{ technician.completedTickets | length }}</p>

            <h5>Average time to complete tickets</h5>
            <p>{{ technician.averageTime }}</p>
        </article>
        {% endfor %}
    </div>



{% endblock %}
