{% extends 'menu.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <div class="example-wrapper">

        <h1>Tickets</h1>


            <article>
                <h5>Title</h5>
                <p>{{ ticket.title }}</p>

                <h5>Description</h5>
                <p>{{ ticket.description }}</p>

                <h5>Assigned to</h5>
                <p>{{ ticket.TechnicianUserId }}</p>

                <h5>Priority</h5>
                <p>{{ ticket.PriorityId }}</p>

                <h5>Status</h5>
                <p>{{ ticket.StatusId }}</p>

                <h5>Categories</h5>
                <p>
                    {% for label in ticket.labels %}
                        {{ label }}
                    {% endfor %}
                </p>

                <h5>Date</h5>
                <p>{{ ticket.CreatedDate | date("d/m/Y") }}</p>

                <div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_ticket', {'id': ticket.id}) }}" class="btn btn-primary"><i class="fa fa-edit"> Edit</i></a>
                        <a href="{{ path('app_ticket', {'id': ticket.id}) }}" class="btn btn-danger"><i class="fa fa-trash-o"> Delete</i></a>
                    {% endif %}

                    {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_ticket', {'id': ticket.id}) }}" class="btn btn-danger"><i class="fa fa-check-square-o"> Mark as completed</i></a>
                    {% endif %}

                </div>

                <hr>
            </article>
    </div>
{% endblock %}
