{% extends 'menu.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Tickets{% endblock %}

{% block body %}
<main>
    <h1>Tickets</h1>
    {% if app.request.get('_route') == 'app_dashboard' %}
        <section class="filters">
            <div class="btn-group status-filter">
                {% for item in status %}
                    <a href="{{ path('app_dashboard', {'status': item.id}) }}" class="btn btn-secondary btn-filter btn-sm">{{ item.name | capitalize }}</a>
                {% endfor %}
            </div>
            <div class="btn-group priority-filter">
                {% for item in priority %}
                    <a href="{{ path('app_dashboard', {'priority': item.id}) }}" class="btn btn-secondary btn-filter btn-sm">{{ item.name | capitalize }}</a>
                {% endfor %}
            </div>
            <div class="btn-group label-filter">
                {% for item in label %}
                    <label><input type="checkbox" id="label{{ item.id }}" value="{{ item.name }}"> {{ item.name | capitalize }}</label><br>
                {% endfor %}
            </div>
        </section>
    {% endif %}


    <section class="tickets tickets-desktop row">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Created</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>
                            <a href="{{ path('app_ticket', {'id': ticket.id}) }}"><p class="text-sm mb-0">{{ ticket.title }}</p></a>
                            <p class="text-muted">
                                {{ ticket.description | slice(0, 70) | raw }}
                                {% if ticket.description | length > 70 %}
                                     ...
                                {% endif %}
                            </p>
                        </td>
                        <td>
                            {{ ticket.PriorityId }}
                        </td>
                        <td>
                            <p class="mb-0">{{ ticket.TechnicianUserId.name | capitalize}} {{ ticket.TechnicianUserId.surname | capitalize}}</p>
                            <a href="mailto:{{ ticket.TechnicianUserId }}"><p class="text-muted">{{ ticket.TechnicianUserId }}</p></a>
                        </td>
                        <td>
                            {% for label in ticket.labels %}
                                {{ label }}
                            {% endfor %}
                        </td>
                        <td>
                            {{ ticket.CreatedDate | date("d/m/Y") }}
                        </td>
                        <td>
                            {{ ticket.StatusId }}
                        </td>
                        <td>
                            {{ macros.showTicketActions(ticket) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>


    <section class="tickets-mobile">
        {% for ticket in tickets %}
            <article class="col ticket-card">
                <h5>Task</h5>
                <a href="{{ path('app_ticket', {'id': ticket.id}) }}"><p class="text-sm mb-0">{{ ticket.title }}</p></a>
                <p class="text-muted">
                    {{ ticket.description | slice(0, 70) | raw }}
                    {% if ticket.description | length > 70 %}
                        ...
                    {% endif %}
                </p>

                <h5>Priority</h5>
                <p>{{ ticket.PriorityId }}</p>

                <h5>Assigned to</h5>
                <p class="mb-0">{{ ticket.TechnicianUserId.name | capitalize}} {{ ticket.TechnicianUserId.surname | capitalize}}</p>
                <a href="mailto:{{ ticket.TechnicianUserId }}"><p class="text-muted">{{ ticket.TechnicianUserId }}</p></a>

                <h5>Categories</h5>
                <p>
                    {% for label in ticket.labels %}
                        {{ label }}
                    {% endfor %}
                </p>

                <h5>Created</h5>
                <p>{{ ticket.CreatedDate | date("d/m/Y") }}</p>

                <h5>Status</h5>
                <p>{{ ticket.StatusId }}</p>

                <h5>Actions</h5>
                {{ macros.showTicketActions(ticket) }}
                <hr>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
