{% extends 'menu.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<main>
    <h1>Ticket</h1>

    <article>
        <h5>Task</h5>
        <p>{{ ticket.title }}</p>

        <h5>Description</h5>
        <p>{{ ticket.description | nl2br }}</p>

        <h5>Priority</h5>
        <p>{{ ticket.PriorityId }}</p>

        <h5>Assigned to</h5>
        <p class="mb-0">{{ ticket.TechnicianUserId.name | capitalize}} {{ ticket.TechnicianUserId.surname | capitalize}}</p>
        <a href="mailto:{{ ticket.TechnicianUserId }}"><p class="text-muted">{{ ticket.TechnicianUserId }}</p></a>

        <h5>Categories</h5>
        <p>
            {% for label in ticket.labels %}
                {{ label }}
            {% endfor %}
        </p>

        <h5>Created</h5>
        <p>{{ ticket.CreatedDate | date("d/m/Y") }}</p>

        <h5>Status</h5>
        <p>{{ ticket.StatusId }}</p>

        <h5>Actions</h5>
        {{ macros.showTicketActions(ticket) }}

        <hr>
    </article>

    <section class="ticketComments">
        <h3>Comments</h3>
        <div>
            {% for comment in comments %}
                <div>
                    <p class="commentInfo"><i class="fa fa-user"></i> {{ comment.user.name | capitalize }} {{ comment.user.surname | capitalize }} (<a href="mailto:{{ comment.user.email }}" class="text-muted">{{ comment.user.email }}</a>) | <i class="fa fa-clock-o"></i> {{ comment.date | date("d/m/Y H:i:s") }}</p>
                    {{ comment.comment  | nl2br }}
                </div>
                <hr>
            {% endfor %}
        </div>
        {{ form_start(commentForm, {'attr': {'class': 'form-post'}}) }}
            {{ form_row(commentForm.comment, {'attr': {'class': 'form-control'} }) }}
            {{ form_row(commentForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(commentForm) }}
    </section>
</main>
{% endblock %}
