{% extends 'base.html.twig' %}

{% block menu %}
    <header>
        <nav class="main-navbar" id="sidebar-menu">
            <div class="brand mt-3">
                <i class="bi bi-diamond-half"></i>
                <a href="{{ path('app_tickets') }}" class="brand-name">TicketsApp</a>
            </div>

            <ul class="nav-list pt-5">
                <li>
                    <a href="{{ path('app_tickets') }}" class="{% if app.request.get('_route') == 'app_tickets' %}active{% endif %}">
                        <i class="bi bi-card-list"></i>
                        <span class="nav-item">Tickets</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_tickets_archived') }}" class="{% if app.request.get('_route') == 'app_tickets_archived' %}active{% endif %}">
                        <i class="bi bi-archive"></i>
                        <span class="nav-item">Archive</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('app_create_ticket') }}" class="{% if app.request.get('_route') == 'app_create_ticket' %}active{% endif %}">
                            <i class="bi bi-plus-circle"></i>
                            <span class="nav-item">Create ticket</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}" class="{% if app.request.get('_route') == 'app_register' %}active{% endif %}">
                            <i class="bi bi-person-plus"></i>
                            <span class="nav-item">Register</span>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{{ path('app_logout') }}">
                        <i class="bi bi-box-arrow-left"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}