{% extends 'base.html.twig' %}

{% block menu %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="{{ path('app_dashboard') }}" class="navbar-brand">Tickets app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{{ path('app_dashboard') }}" class="nav-item nav-link active"><i class="fa fa-tasks"></i> Tickets</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_create_ticket') }}" class="nav-item nav-link"><i class="fa fa-plus-square"></i> Create ticket</a>
                    <a href="{{ path('app_register') }}" class="nav-item nav-link"><i class="fa fa-user-plus"></i> Register</a>
                {% endif %}

                <a href="{{ path('app_logout') }}" class="nav-item nav-link">Log out</a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}