{% extends 'menu.html.twig' %}

{% block title %}Create ticket{% endblock %}

{% block body %}
    <h1>Create new ticket</h1>

    {{ form_start(form, {'attr': {'class': 'form-post'}}) }}
        {{ form_row(form.title, {'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.technician_user_id, {
            'label': 'Technician',
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(form.priority_id, {
            'label': 'Priority',
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(form.labels, {'attr': {'class': 'form-control'} }) }}


        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}

{% endblock %}
